.financeiro-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.financeiro-box{
    border: 2px solid black;
    border-radius: 15px;
    width: 85%;
    max-width: 900px;
    padding: 2rem 3rem;
    margin-top: 2rem;
}

.sec-titulo{
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: 600;
}

.label-preco{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: .7rem 0;
    font-size: 1.3rem;
}

.input-preco{
    padding: .5rem;
    border: 1px solid #bbb;
    border-radius: 6px;
    width: 120px;
}

.checklinha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .7rem 0;
    font-size: 1.3rem;
}

.check{
    width: 26px;
    height: 26px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.check.marcado{
    background-color: #7beb7b;
}

.check.marcado::after{
    content: "✓";
    position: absolute;
    font-size: 20px;
    left: 5px;
    top: -2px;
}

.voltar-botao{
    margin: 2rem auto 0 auto;
    display: block;
    background-color: #c8f476;
    padding: .7rem 1.5rem;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.3rem;
}

/* -------------------------------- */
.calc-container{
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #f9f9f9;
}

.calc-botao{
    margin-top: 1rem;
    padding: .7rem 1.4rem;
    border: 1px solid black;
    background-color: #c8f476;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.3rem;
}

.calc-botao:hover{
    background-color: #b2e765;
}

.calc-resultado{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
